.woocommerce {
  .woocommerce-input-wrapper {
    width: 100%;
    display: block;
  }
  ul li {
    list-style-type: none;
  }
  .input-text {
    padding: 0.5em;
    border: 1px solid #999;
    border-radius: 5px;
  }
}
