.woocommerce {
  .woocommerce-Address-title title {
    background: none;
    box-shadow: none;
  }
  .woocommerce-input-wrapper {
    width: 100%;
    display: block;
  }
  ul li {
    list-style-type: none;
  }
}
