@import "node_modules/bootstrap/scss/bootstrap";
@import "header";
@import "colours";
@import "woocommerce";
@import "footer";

* {
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100vh;
}

* html body {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 60px;
}

#hero {
  height: 400px;
  width: 100%;
  background: url("http://via.placeholder.com/1500x400.jpg") #ccc;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: $light;
  }
}

.widget {
  list-style-type: none;
  margin: 0;
  padding: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.featurette {
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 100%;
}

.marketing {
  text-align: center;
  h2 {
    padding: 0.5em;
  }
}

.page-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

#template-shop {
  h1 {
    margin-bottom: 1em;
  }
}

#page-template {
  .page-img {
    margin: auto;
    display: block;
    width: 100%;
  }
}
